

.contact.row{
                    display: flex;
                    align-items: center;
                    background: var(--black);
                    flex-wrap: wrap;
                    gap:1rem;
                }
            
                .contact .row .map{
                    flex:1 1 45rem;
                    width: 100%;
                    object-fit: cover;
                }
                .contact .row form{
                    flex: 1 1 45rem;
                }
                
                .contact .roe form h2{
                    text-transform: uppercase;
                    font-size: 3.5rem;
                    color:#fff;
                }
                
                .contact .row form .inputbox{
                    display: flex;
                    align-items: center;
                    margin-top: 2rem;
                    background: var(--black);
                    border:var(--border);
                }
                .contact .row form .inputbox span{
                    color: #fff;
                    font-size:2rem;
                    padding-left: 2rem;
                }
                .contact .row form .inputbox input{
                    width: 100%;
                    padding: 2rem;
                    font-size: 1.7rem;
                    color: #fff;
                    text-transform: none;
                    background: none;
                }
                
                
            